#card {
  background-color: rgba(244, 244, 244, 255);
}

sup {
  color: red;
}

span {
  border-bottom: 1px solid #d5d5d5;
}

select {
  appearance: none;
}

.error-msg {
  font-size: x-small;
  color: red;
}

.border-color {
  border-color: red;
}

#clear-btn {
  background-color: white;
  border: 1px solid black;
}

#clear-btn:hover {
  background-color: #353a3d;
  color: white;
}
